@import "~bootstrap/scss/bootstrap-grid";

.whitespace-pre {
    white-space: pre;
}

.fixed-table-layout {
    table.mat-table {
        table-layout: fixed;

        td {
            word-wrap: break-word;
        }
    }
}
.text-right {
    text-align: right !important;
}
